*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* ===== Scroll Bar ===== */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}

::-webkit-scrollbar-thumb {
    background: crimson;
}

::-webkit-scrollbar-thumb:hover {
    background: black; 
}
#home{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.5) ) , url('hall.webp');
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    transition: all 0.3s ease;
    
}
h1 .uni-title{
    color: white;
    font-size: 10rem;
    font-family: cursive;
}

.logo i{
    color: red;
}

.logo h1{
    color: white;
    font-size: 2rem;
    font-family: cursive;
}

nav{
width: 100%;
height: 15vh;

color: rgb(250, 246, 246);
display: flex;
justify-content: space-between;
align-items: center;
text-transform: uppercase;
}
nav .logo{
    width: 25%;
    text-align: center;
}
nav .menu{
    width: 30%;
    justify-content: space-between;
    display: flex;
}
nav .menu a{
width: 25%;
text-decoration: none;
color: white;
}
nav .menu a:hover{
    color: crimson;
    text-decoration: underline;
    text-underline-offset: .4rem;
    transition: .5s;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
 main section h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, -50%);
    color: white;
  }

 main #atag .visit button  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
}
  main .visit button{
    text-align: center;
    color: rgb(131, 8, 8);
    background-color: antiquewhite;
    border: 1px solid rgb(247, 244, 244);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 1000;
}
 main .visit button:hover{
    background-color: rgb(2, 0, 0);
    border: none;
}
 main .visit button:active{
    background-color: purple;
}
 main #iconbtn{
    transition: all 10sec ease-in-out;
    text-align: center;
    margin-top: 1.5rem;
}

main #iconbtn .info{
    color: white;
    font-size: 2.5rem;
    transition: all 10sec ease-in-out;
    border: none;
    border: none;
}

main #iconbtn .info:hover{
    color: crimson;
}
#about{
    width: 100%;
    height: 100vh;
}

#about{
    padding: 5rem;
}

#headingAbout{
    text-align: center;
    margin-bottom: 2rem;
}

#headingAbout h1{
    font-size: 1.5rem;
    font-weight: 500;
    #about{
    width: 100%;
    height: 100vh;
}

#about{
    width: 100%;
    height: 100vh;
}

#about{
    padding: 5rem;
}

#headingAbout{
    text-align: center;
    margin-bottom: 2rem;
}

#headingAbout h1{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#left-about{
    padding: 2rem;
    float: left;
    width: 50%;
    /* background-color: green; */
}

#left-about h1{
    font-size: 1.5rem;
    text-align: center;
    color: crimson;
}

#left-about p{
    margin-top: 1rem;
    text-align: justify;
    padding: 1rem;
}

#right-about{
    float: right;
    width: 50%;
    /* background-color: brown; */
}

#right-about img{
    /* max-width: 100%; */
    width: 1600px;
    aspect-ratio: 32/20;
    border-radius: 10px;
    /* transition: all 1s ease-in-out; */
    border: 2px solid crimson;
}
#course{
    width: 100%;
    height: 100vh;
    background: #111111;
    color: white;
}

#titleCourse{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#titleCourse h1{
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
    color: crimson;
}
#courseBoxes{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding-right: 13%;
    padding-left: 13%;
}

#column{
    flex-basis: 30%;
    background-image: linear-gradient(to right top, #051937, #0b2d5b, #114381, #155ba9, #1673d4);
    color: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 25px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
}

#column:hover{
    box-shadow: 0 0 30px black;
}

#column i{
    margin-top: .5rem;
    font-size: 2rem;
    color: white;
}

#column p{
    margin-top: .5rem;
    text-align: justify;
}

/* ===== Blog ===== */
#blog{
    margin-top: 2rem;
    width: 100%;
    height: 170vh;
    /* overflow: hidden; */
}

#img{
    text-align: center;
}
#img img{
    /* margin-top: 3rem; */
    width: 800px;
    aspect-ratio: 4/2.5;
}



